/* LoginPage styles */

.main-content {
   letter-spacing: 0.5px;
   background-color: #f1f2f3d7;
   height: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.outer-container {
   height: 100vh;
   background-color: lightblue;
   display: flex;
   justify-content: center;
   align-items: center;
}
.login-container {
   width: 70%;
   height: 85%;
   display: flex;
   border-radius: 10px;
   box-shadow: -2px -2px 20px #00000011;
}

/* left section */
.left-bar {
   background-color: white;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.left-inner-content {
   width: 80%;
   transform: scale(0.9);
}
.left-inner-content h1 {
   font-size: 2.5em;
   font-weight: bold;
}
.left-inner-content .title-text {
   color: var(--color-punch-red);
   font-size: 16px;
   margin-bottom: 20px;
}
.left-inner-content form {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.left-inner-content form label {
   font-weight: 500;
}
.left-inner-content form input[type='text'] {
   background-color: #6b72801a;
   border: 1px solid #6b7280ff;
   border-radius: 5px;
   padding: 10px;
}
.left-inner-content form a {
   color: var(--color-punch-red);
   margin-left: auto;
}
.left-inner-content form button {
   /* submit button */
   background-color: var(--color-punch-red);
   color: white;
   padding: 8px;
   margin-top: 15px;
   border-radius: 5px;
   font-weight: bold;
}
.left-inner-content form div {
   display: flex;
}

.divider {
   color: var(--color-punch-red);
   font-size: 0.8rem;
   margin: 18px 0;
   display: flex;
   align-items: center;
}
.divider::before,
.divider::after {
   content: '';
   border-bottom: 1px solid #f8505e6f;
   flex: 1;
}
.divider::before {
   margin-right: 7px;
}
.divider::after {
   margin-left: 7px;
}

.link-buttons-container {
   display: flex;
   justify-content: space-between;
}
.link-buttons {
   font-weight: 500;
   padding: 9px 45px;
   border: 1px solid #6b7280ff;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.google-logo {
   width: 17px;
   margin-right: 5px;
}
.apple-logo {
   width: 30px;
   margin-right: -2px;
}

/* right section */
.right-bar {
   background-color: var(--color-punch-red);
   flex: 1;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.right-bar .img-container {
   background-color: #ffffff2a;
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #ffffff57;
   border-radius: 30px;
}
.right-bar img {
   width: 20px;
}
.right-bar h1 {
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
   margin: 15px 0;
}
.right-bar p {
   color: #ffffffa9;
   text-align: center;
   width: 90%;
   margin-bottom: 30px;
}
.right-bar .link {
   background-color: white;
   color: var(--color-punch-red);
   padding: 10px 20px;
   border-radius: 20px;
   font-size: 12px;
   font-weight: bold;
   box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
}
