@import "tailwindcss";

@theme {
	--color-punch-red: #e63946ff;
	--color-carbon-black: #1d1d1dff;
	--color-bright-snow: #fafafaff;
	--color-slate-grey: #6b7280ff;
	--color-sandy-brown: #f4a261ff;
	--color-emerald: #2ecc71ff;
 }

body {
	background-color: var(--color-white);
}


/* styles of LoginPage component */
.header {
	font-size: 12px;
	letter-spacing: 0.5px;
}
.header ul{
	height: 10vh;
	display: flex;
	align-items: center;
}
.li-left {
	flex: 1;
	margin-left: 30px;
	font-size: 14px;
	font-weight: bold;	
	display: flex;
	gap: 15px;
}
.li-left img { width: 18px }

.li-right {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
	height: 100%;
	font-weight: 500;
}
.li-right button {
	background-color: var(--color-punch-red);
	color: white;
	padding: 6px 13px;
	border-radius: 5px;
	font-weight: bold;
}

.main-content {
	letter-spacing: 0.5px;
	background-color: #f1f2f3d7;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-container {
	width: 65%;
	height: 85%;
	display: flex;
	border-radius: 10px;

	box-shadow: 5px 5px 20px #0000001a,
	 -5px -5px 20px #0000001a;;
}

/* left section */
.left-bar {
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-inner-content {
	width: 80%;
	transform: scale(0.9);
}
.left-inner-content h1 {
	font-size: 1.5em;
	font-weight: bold;
}
.left-inner-content .title-text {
	color: var(--color-punch-red);
	font-size: 12px;
	margin-bottom: 20px;
}
.left-inner-content form {
	display: flex;
	flex-direction: column;
	gap: 8px	;
}
.left-inner-content form label {
	font-size: 12px;
	font-weight: 500;
}
.left-inner-content form input[type='text'] {
	background-color: hsla(355, 60%, 70%, 0.1);
	border: 1px solid hsla(355, 78%, 56%, 0.3);
	border-radius: 5px;
	padding: 7px 5px 7px 8px;
	font-size: 14px;
}
.left-inner-content form input[type='text']::placeholder {
	color: hsla(355, 70%, 70%, 0.6);
}
.left-inner-content form a {	
	color: var(--color-punch-red);
	font-size: 12px;
	font-weight: 400;
	margin-left: auto;
}
.left-inner-content form button {	/* submit button */
	background-color: var(--color-punch-red);
	color: white;
	padding: 8px;
	margin-top: 15px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
}
.left-inner-content form div { display: flex }

.divider {
	color: var(--color-punch-red);
	font-size: 10px;
	margin: 18px 0;
	display: flex;
	align-items: center;
}
.divider::before,
.divider::after {
	content: '';
	border-bottom: 1px solid #f8505e6f;
	flex: 1;
}
.divider::before { margin-right: 7px }
.divider::after { margin-left: 7px }

.link-buttons-container {
	display: flex;
	justify-content: space-between;
}
.link-buttons {
	font-size: 12px;
	font-weight: 500;
	padding: 8px 35px;
	border: 1px solid #f8505e6f;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.google-logo {
	width: 17px;
	margin-right: 5px;
}
.apple-logo {
	width: 30px;
	margin-right: -2px;
}

/* right section */
.right-bar {
	background-color: var(--color-punch-red);
	flex: 1;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.right-bar .img-container {
	background-color: #ffffff2a;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ffffff57;
	border-radius: 30px;
}
.right-bar img { width: 20px }
.right-bar h1 {
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin: 15px 0;
}
.right-bar p {
	color: #ffffffa9;
	text-align: center;
	width: 90%;
	margin-bottom: 30px;
}
.right-bar button {
	background-color: white;
	color: var(--color-punch-red);
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 12px;
	font-weight: bold;
	box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
}




/* operating hours styles */

.schedule {
	background-color: #efe5e546;
	padding: 7px 10px;
	border: 1px solid #00000023;
	border-radius: 5px;
	display: flex;
	font-size: 13px;
	letter-spacing: 0.5px;
}
.schedule .left-schedule {
	flex: 1;
	display: flex;
	gap: 20px;
	padding: 5px;
}

.left-schedule .left-toggle {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 13px;
}

.left-schedule .right-time {
	display: flex;
	align-items: center;
	gap: 10px;
}

.left-toggle .label-prop {
	font-weight: bold;
	width: 75px;
}

.left-schedule input[type='time'] {
	background-color: #fff;
	padding: 4px 15px;
	border: 1px solid rgba(0, 0, 0, 0.238);
	border-radius: 5px;
}

.schedule button {
	color: red;
	font-weight: 500;
}

/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider { background-color: var(--color-punch-red) }
input:checked + .slider:before { transform: translateX(19px) }



/* operating hours -> top bar styles */

.inner-content {
	border: 1px solid #0000001a;
	border-radius: 5px;
	padding: 20px 18px;
	box-shadow: -2px -2px 10px #0000001a;
}
.inner-content .top-bar {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.inner-content .top-bar h1 {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: -10px;
}

.red-content {
	background-color: hsla(0, 80%, 86%, 0.5);
	padding: 15px 15px 15px 42px;
	position: relative;
	border: 1px solid rgba(255, 0, 0, 0.182);
	border-radius: 5px;
}
.red-content img {
	width: 18px;
	position: absolute;
	top: 17px;
	left: 12px;
}
.red-content h3 {
	font-weight: 500;
	margin-bottom: 5px;
}

.top-bar .week-bar {
	display: flex;
	font-size: 13px;
	font-weight: bold;
}
.week-bar span { flex: 1 }
.week-bar button { color: red }


/* operating hours -> bottom bar styles */

.bottom-bar {
	margin-top: 15px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.btn-container {
	display: flex;
	font-size: 12px;
	font-weight: bold;
}
.prev-btn {
	color: rgb(112, 112, 112);
	display: flex;
	align-items: center;
	gap: 5px;
}
.next-btn {
	background-color: var(--color-punch-red);
	color: #fff;
	padding: 7px 15px;
	border-radius: 5px;
	margin-left: auto;
	box-shadow: 3px 3px 10px #0000002a;
}