@import "tailwindcss";

@theme {
	--color-punch-red: #e63946ff;
	--color-carbon-black: #1d1d1dff;
	--color-bright-snow: #fafafaff;
	--color-slate-grey: #6b7280ff;
	--color-sandy-brown: #f4a261ff;
	--color-emerald: #2ecc71ff;
 }

verify-card{
	background-color: var(--color-white);
}
.outer-container {
	height: 100vh;
	background-color: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner-container {
	background-color: lightpink;
	width: 400px;
}